.header {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 word-spacing: 2px;
 letter-spacing: 2px;
 font-size:xx-large;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hor{
  color: white;
  width: 300px;
 margin-left: 600px;
 font-weight: 900;
 margin-top: -20px;
}
.head-cls{
 padding-top: 50px;
}
